<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Extension Updates</key>
		<array>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>com.SixFoot1.safari.Resizer</string>
				<key>Developer Identifier</key>
				<string>KT84LTZ6F4</string>
				<key>CFBundleVersion</key>
				<string>0.5</string>
				<key>CFBundleShortVersionString</key>
				<string>0.5</string>
				<key>URL</key>
				<string>http://sixfoot1.com/safari-extensions/resizer/packages/Resizer.safariextz</string>
			</dict>
		</array>
	</dict>
</plist>