<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>SixFoot1.com</string>
	<key>CFBundleDisplayName</key>
	<string>Resizer</string>
	<key>CFBundleIdentifier</key>
	<string>com.SixFoot1.safari.Resizer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4</string>
	<key>CFBundleVersion</key>
	<string>0.4</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>Toolbar.html</string>
				<key>Identifier</key>
				<string>com.sixfoot1.resizer.bar</string>
				<key>Label</key>
				<string>Resizer</string>
			</dict>
		</array>
		<key>Global Page</key>
		<string>Global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>toggle-window</string>
				<key>Identifier</key>
				<string>toggle-window</string>
				<key>Image</key>
				<string>Button.png</string>
				<key>Label</key>
				<string>Resizer</string>
				<key>Palette Label</key>
				<string>Resizer</string>
				<key>Tool Tip</key>
				<string>Resize your browser window</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>Inject.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Resize the current Safari window using a toolbar button, Resizer Bar or the contextual menu.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://sixfoot1.com/safari-extensions/resizer/resizer.plist</string>
	<key>Website</key>
	<string>http://sixfoot1.com/safari-extensions/resizer/</string>
</dict>
</plist>
