<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Extension Settings</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>ToggleResizerBar</string>
		<key>Key</key>
		<string>ToolbarButtonOption</string>
		<key>Title</key>
		<string>Toolbar button</string>
		<key>Titles</key>
		<array>
			<string>cycle through enabled window settings</string>
			<string>show/hide the Resizer Bar</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>ToggleWindowSize</string>
			<string>ToggleResizerBar</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>EnableContextMenu</string>
		<key>Title</key>
		<string>Enable context (right-click) menu</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>EnableKeyboardShortcuts</string>
		<key>Title</key>
		<string>Enable keyboard shortcuts (⌥1 to ⌥0)</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>AutoHideToolbar</string>
		<key>Title</key>
		<string>Automatically close Resizer Bar after use</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>L1</string>
		<key>Title</key>
		<string>Window Setting 1</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>Toolbar0</string>
		<key>Title</key>
		<string>Enable for main toolbar button</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>ResizerBar0</string>
		<key>Title</key>
		<string>Enable in Resizer bar</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>Context0</string>
		<key>Title</key>
		<string>Enable in context menu</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>800xMax</string>
		<key>Key</key>
		<string>Name0</string>
		<key>Title</key>
		<string>Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>Top0</string>
		<key>Title</key>
		<string>Top Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>Left0</string>
		<key>Title</key>
		<string>Left Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>800</real>
		<key>Key</key>
		<string>Width0</string>
		<key>Title</key>
		<string>Width</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>max</string>
		<key>Key</key>
		<string>Height0</string>
		<key>Title</key>
		<string>Height</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Window Setting 2</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>Toolbar1</string>
		<key>Title</key>
		<string>Enable for main toolbar button</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>ResizerBar1</string>
		<key>Title</key>
		<string>Enable in Resizer bar</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>Context1</string>
		<key>Title</key>
		<string>Enable in context menu</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>1024xMax</string>
		<key>Key</key>
		<string>Name1</string>
		<key>Title</key>
		<string>Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>Top1</string>
		<key>Title</key>
		<string>Top Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>Left1</string>
		<key>Title</key>
		<string>Left Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1024</real>
		<key>Key</key>
		<string>Width1</string>
		<key>Title</key>
		<string>Width</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>max</string>
		<key>Key</key>
		<string>Height1</string>
		<key>Title</key>
		<string>Height</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Window Setting 3</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>Toolbar2</string>
		<key>Title</key>
		<string>Enable for main toolbar button</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>ResizerBar2</string>
		<key>Title</key>
		<string>Enable in Resizer bar</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>Context2</string>
		<key>Title</key>
		<string>Enable in context menu</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>1280xMax</string>
		<key>Key</key>
		<string>Name2</string>
		<key>Title</key>
		<string>Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>Top2</string>
		<key>Title</key>
		<string>Top Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>Left2</string>
		<key>Title</key>
		<string>Left Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1280</real>
		<key>Key</key>
		<string>Width2</string>
		<key>Title</key>
		<string>Width</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>max</string>
		<key>Key</key>
		<string>Height2</string>
		<key>Title</key>
		<string>Height</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Window Setting 4</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>Toolbar3</string>
		<key>Title</key>
		<string>Enable for main toolbar button</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>ResizerBar3</string>
		<key>Title</key>
		<string>Enable in Resizer bar</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>Context3</string>
		<key>Title</key>
		<string>Enable in context menu</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Maximise</string>
		<key>Key</key>
		<string>Name3</string>
		<key>Title</key>
		<string>Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>Top3</string>
		<key>Title</key>
		<string>Top Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>Left3</string>
		<key>Title</key>
		<string>Left Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>max</string>
		<key>Key</key>
		<string>Width3</string>
		<key>Title</key>
		<string>Width</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>max</string>
		<key>Key</key>
		<string>Height3</string>
		<key>Title</key>
		<string>Height</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Window Setting 5</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>Toolbar4</string>
		<key>Title</key>
		<string>Enable for main toolbar button</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>ResizerBar4</string>
		<key>Title</key>
		<string>Enable in Resizer bar</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>Context4</string>
		<key>Title</key>
		<string>Enable in context menu</string>
		<key>TrueValue</key>
		<true/>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>[800x600]</string>
		<key>Key</key>
		<string>Name4</string>
		<key>Title</key>
		<string>Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>centre</string>
		<key>Key</key>
		<string>Top4</string>
		<key>Title</key>
		<string>Top Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>centre</string>
		<key>Key</key>
		<string>Left4</string>
		<key>Title</key>
		<string>Left Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>800</real>
		<key>Key</key>
		<string>Width4</string>
		<key>Title</key>
		<string>Width</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>600</real>
		<key>Key</key>
		<string>Height4</string>
		<key>Title</key>
		<string>Height</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Window Setting 6</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>Toolbar5</string>
		<key>Title</key>
		<string>Enable for main toolbar button</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>ResizerBar5</string>
		<key>Title</key>
		<string>Enable in Resizer bar</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>Context5</string>
		<key>Title</key>
		<string>Enable in context menu</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>[1024x768]</string>
		<key>Key</key>
		<string>Name5</string>
		<key>Title</key>
		<string>Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>centre</string>
		<key>Key</key>
		<string>Top5</string>
		<key>Title</key>
		<string>Top Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>centre</string>
		<key>Key</key>
		<string>Left5</string>
		<key>Title</key>
		<string>Left Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>1024</real>
		<key>Key</key>
		<string>Width5</string>
		<key>Title</key>
		<string>Width</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>768</real>
		<key>Key</key>
		<string>Height5</string>
		<key>Title</key>
		<string>Height</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Window Setting 7</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>Toolbar6</string>
		<key>Title</key>
		<string>Enable for main toolbar button</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>ResizerBar6</string>
		<key>Title</key>
		<string>Enable in Resizer bar</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>Context6</string>
		<key>Title</key>
		<string>Enable in context menu</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Top</string>
		<key>Key</key>
		<string>Name6</string>
		<key>Title</key>
		<string>Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>Top6</string>
		<key>Title</key>
		<string>Top Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>Left6</string>
		<key>Title</key>
		<string>Left Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>max</string>
		<key>Key</key>
		<string>Width6</string>
		<key>Title</key>
		<string>Width</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>half</string>
		<key>Key</key>
		<string>Height6</string>
		<key>Title</key>
		<string>Height</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Window Setting 8</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>Toolbar7</string>
		<key>Title</key>
		<string>Enable for main toolbar button</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>ResizerBar7</string>
		<key>Title</key>
		<string>Enable in Resizer bar</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>Context7</string>
		<key>Title</key>
		<string>Enable in context menu</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Bottom</string>
		<key>Key</key>
		<string>Name7</string>
		<key>Title</key>
		<string>Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>half</string>
		<key>Key</key>
		<string>Top7</string>
		<key>Title</key>
		<string>Top Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>Left7</string>
		<key>Title</key>
		<string>Left Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>max</string>
		<key>Key</key>
		<string>Width7</string>
		<key>Title</key>
		<string>Width</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>half</string>
		<key>Key</key>
		<string>Height7</string>
		<key>Title</key>
		<string>Height</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Window Setting 9</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>Toolbar8</string>
		<key>Title</key>
		<string>Enable for main toolbar button</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>ResizerBar8</string>
		<key>Title</key>
		<string>Enable in Resizer bar</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>Context8</string>
		<key>Title</key>
		<string>Enable in context menu</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Left</string>
		<key>Key</key>
		<string>Name8</string>
		<key>Title</key>
		<string>Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>Top8</string>
		<key>Title</key>
		<string>Top Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>Left8</string>
		<key>Title</key>
		<string>Left Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>half</string>
		<key>Key</key>
		<string>Width8</string>
		<key>Title</key>
		<string>Width</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>max</string>
		<key>Key</key>
		<string>Height8</string>
		<key>Title</key>
		<string>Height</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Window Setting 10</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>Toolbar9</string>
		<key>Title</key>
		<string>Enable for main toolbar button</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>ResizerBar9</string>
		<key>Title</key>
		<string>Enable in Resizer bar</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>Context9</string>
		<key>Title</key>
		<string>Enable in context menu</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Right</string>
		<key>Key</key>
		<string>Name9</string>
		<key>Title</key>
		<string>Name</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>0.0</real>
		<key>Key</key>
		<string>Top9</string>
		<key>Title</key>
		<string>Top Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>half</string>
		<key>Key</key>
		<string>Left9</string>
		<key>Title</key>
		<string>Left Offset</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>half</string>
		<key>Key</key>
		<string>Width9</string>
		<key>Title</key>
		<string>Width</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>max</string>
		<key>Key</key>
		<string>Height9</string>
		<key>Title</key>
		<string>Height</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
